In [20]:
import pandas as pd
import quandl
import math

In [21]:
quandl.ApiConfig.api_key = "nkryh3f_sWRHscm8B6kH"

In [22]:
df = quandl.get('WIKI/GOOGL')

In [23]:
df = df[['Adj. Open','Adj. High','Adj. Low','Adj. Close','Adj. Volume',]]
df['HL_PCT'] = (df['Adj. High']- df['Adj. Low']) / df['Adj. Low'] * 100.0
df['PCT_change'] = (df['Adj. Close'] - df['Adj. Open']) / df['Adj. Open'] * 100.0

df = df[['Adj. Close','HL_PCT','PCT_change','Adj. Volume']]

In [24]:
forecast_col = 'Adj. Close'

In [25]:
df.fillna(-99999,inplace = True)

In [39]:
forecast_out = int(math.ceil(0.01*len(df)))

In [40]:
forecast_out

35

In [41]:
df[forecast_col]

Date
2004-08-19      50.322842
2004-08-20      54.322689
2004-08-23      54.869377
2004-08-24      52.597363
2004-08-25      53.164113
                 ...
2018-03-21    1094.000000
2018-03-22    1053.150000
2018-03-23    1026.550000
2018-03-26    1054.090000
2018-03-27    1006.940000
Name: Adj. Close, Length: 3424, dtype: float64

In [42]:
df['label'] = df[forecast_col].shift(-forecast_out)

In [43]:
df['label']

Date
2004-08-19    69.078238
2004-08-20    67.839414
2004-08-23    68.912727
2004-08-24    70.668146
2004-08-25    71.219849
                ...
2018-03-21          NaN
2018-03-22          NaN
2018-03-23          NaN
2018-03-26          NaN
2018-03-27          NaN
Name: label, Length: 3424, dtype: float64

In [44]:
df.head()

            Adj. Close    HL_PCT  PCT_change  Adj. Volume      label
Date
2004-08-19   50.322842  8.441017    0.324968   44659000.0  69.078238
2004-08-20   54.322689  8.537313    7.227007   22834300.0  67.839414
2004-08-23   54.869377  4.062357   -1.227880   18256100.0  68.912727
2004-08-24   52.597363  7.753210   -5.726357   15247300.0  70.668146
2004-08-25   53.164113  3.966115    1.183658    9188600.0  71.219849

In [45]:
df.tail()

            Adj. Close    HL_PCT  PCT_change  Adj. Volume  label
Date
2018-03-21     1094.00  1.976619    0.130884    1990515.0    NaN
2018-03-22     1053.15  3.265882   -2.487014    3418154.0    NaN
2018-03-23     1026.55  4.089299   -2.360729    2413517.0    NaN
2018-03-26     1054.09  4.818025    0.332191    3272409.0    NaN
2018-03-27     1006.94  6.707965   -5.353887    2940957.0    NaN